/******************************顶部栏*******************************/
.wrap{
	margin:0 auto;
	width:1280px;
}

.wrapper{
	margin:0 auto;
	width:1200px;
}

#header{
	height:52px;
	line-height:52px;
	width:100%;
	background:#f9f9f9;
}

#header .welcome{
	margin-left:40px;
	float: left;
	display: none;
}

#header .wrapper{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #727272;
}

#header .wrapper i{
	margin-right: 8px;	
}

#header .right span:nth-of-type(3) a{
	color:#D7000F;
}
.left{
	float: left;
}

.right{
	float: right;
}

/******************************右侧浮动栏*******************************/
#tool{
	position: fixed;
	right: 40px;
	bottom: 160px;
	border: 1px solid #9a9a9a;
	z-index: 110;
	background: #FFFFFF;
}

#tool div{
	width: 48px;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}

.tool1{
	border-bottom: 1px solid #9a9a9a;
}

.tool2{
	border-bottom: 1px solid #9a9a9a;
}

.tool4{
	border-top:0;
	position: absolute;
    background: white;
    border: 1px solid #9a9a9a;
    left: -1px;
    top: 152px;
  	cursor: pointer;
}

#tool div i {
	color: #575757;
	font-size: 19px;
}

#tool div:hover{
	background: #d7000f;
}

#tool div:hover i{
	color: white;
}

#tool div:hover .redTip{
	display: block;
}

#back-to-top{
	display: none;
}

.tool1 .redTip{
	position: absolute;	
	top: 0;	
	left: -157px;
	display: none;
}

.tool2 .redTip{
	position: absolute;	
	top: 51px;	
	left: -157px;
	display: none;
}

.tool3 .redTip{
	position: absolute;	
	top: 102px;	
	left: -157px;
	display: none;
}
 
/*************************banner*****************************************/
.banner{
	min-width: 1200px;
	max-width: 1920px;
	margin:0 auto; 
}
 
.banner img{
  width: 100%;
  
	display: block;	
}

.pinzhiHead{
  width: 100%;
  background: #313131;
  overflow: hidden;
  
}

.pinzhiHeadCen{
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  position: relative;
}

.pinzhiHeadCen > h3{
  width: 1200px;
  color: #ffffff;
  font-size: 36px;
  font-family: "宋体 常规";
  text-align: center;
  line-height: 120px;
}

.pinzhiHeadCen >p{
  width: 50px;
  height: 6px;
  background: #ffffff;
}

.pinzhiHeadCen > p:first-child{
  position: absolute;
  top: 60px;
  left: 470px;
}

.pinzhiHeadCen > p:last-child{
  position: absolute;
  top: 60px;
  right: 470px;
}

.pinzhiCen{
  width: 1200px;
  margin: 0 auto;
}

.picture{
  width: 1200px;
  margin:0 auto; 
  margin-top: 60px;
  height: 600px;
}

.picture-top{
  width: 500px;
  height: 80px;
  margin: 0 auto;
}

.picture-zhong{
  width: 432px;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 385px;
  font-size: 36px;
  font-family: "[SourceHanSansCN ...";
}

.picture-down{
  width: 1200px;
  margin: 0 auto;
}

.luobo{
  min-width: 1200px;
  max-width: 1920px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.lunboCen{
  position: relative;
    top: 0;
    left:0;
    height: 600px;
    width: 100%;
}

.lunboCenUl{
    width: 100%;
    height: 600px;
}

.lunboCenUl li{
    position: absolute; top: 0;
    transition: all .3s ease;
    width: 50%;
}

.lunboCenUl li img{
    width: 100%;
    height: 100%;
}


.lunboCenBox1{
    transform: translate(100%);
    opacity: 0;
}
.lunboCenBox2{
    transform: translate(-52%);
}
.lunboCenBox3{
    left: 25%;
}
.lunboCenBox4{
    transform: translate(152%);
}


.anniu{
    display: inline-block;
    width: 200px;
    height: 30px;
    position: absolute; left: 0; right: 0; bottom: 20px;
    margin: auto;
    padding:  12px 0;
    box-sizing: border-box;
}
.anniu li{
    float: left;
    width: 25px; height: 5px;
    background: black;
    cursor: pointer;
    margin: 0 12px;
}
.anniu li.active{
    background: orange;
}

.lunboCenBox img{
  width: 100%;
  height: 100%;
}


.anniu .active{
  background: red;
}

.rotate{
  width: 100%;
  overflow: hidden;
}

.rotateCen{
  width: 1200px;
  margin: 0 auto;
}

.rotateCen-top{
  width: 100%;
  margin-bottom: 30px;
}

.rotateCen-top > p{
  font-size: 24px;
  margin: 0 auto;
}

.rotateCen-top > p:nth-child(2){
  width: 300px;
}

.rotateCen-top > p:nth-child(3){
  width: 500px;
  margin: 20px auto;
}

.rotateCen-top > p:nth-child(4){
  width: 515px;
}

.rotateCen-top > img:first-child{
  width: 665px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.rotateCen-top > img:last-child{
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

#KeyShotVR,.rotateCen-zhong{
  margin: 0 auto;
  width: 1000px;
  height: 780px!important;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.rotateCen-btn{
width: 100%;
margin-top: 15px;
margin-bottom: 100px;
text-align: center;

}

.rotateCen-btn >img{
  width: 260px;
  margin: 0 auto;
  
}

.rotateCen-btn >a{
  display: block;
  margin-top: 15px;
  text-decoration:underline
}





/************************footer栏***************************************/
#footer{
	width: 100%;
	height: 380px;
	background: #333333;
}

.foot_l{
	margin-top: 61px;
	width: 288px;
	float: left;
}

.logo2{
	width: 120px;
	height: 50px;
	margin-bottom: 34px;
}

.logo2 img{
	width: 100%;
	height: 100%;
}



.foot_l_text span{	
	font-weight: bold;
	color: #FFFFFF;
	font-family: "微软雅黑";
	display: block;
}

.foot_l_text span:nth-of-type(1){
	font-size:12px;
	margin-bottom:4px;
}

.foot_l_text span:nth-of-type(2){
	font-size:17px;
}

.QRcode{ 
	width: 88px;
}

.QRcode img{ 
	margin:0 auto; 
	width: 80px;
	height: 80px;
}

.QRcode p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.imow{ 
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.imow img{ 
	margin:0 auto; 
	width: 122px; 
	height: 80px;
}

.imow p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.foot_r{
	float: left;
}


.foot_menu { 
    /*float: right; */ 
    margin-top: 50px;
    width: 881px;
    height: 240px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    display:flex; 
}

.whiteLine{
	width: 34px;
	height: 2px;
	background: #FFFFFF;
}

/* 设置ul和li的样式 */
.foot_menu ul{
    list-style: none;  
} 

.foot_menu ul li{
	float: left;
	position: relative;
	margin-right:118px ;
}

/* 一级菜单 */
.foot_menu > ul > li > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font:bold 16px/38px "微软雅黑";
}

/* 二级菜单*/
.foot_menu > ul > li > ul {
	position: absolute;
	left: -8px;
    top: 46px;
    width: 110px;
}

/* 设置二级菜单的li的样式 */
.foot_menu > ul > li > ul > li {
    float: none;
    padding:0 10px;
}
 
.foot_menu > ul > li > ul > li > a {
    width: 105px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    border-top: none;
    display: block;
    font-size: 12px;
}

.foot_bottom span{
	font-size:12px;
	font-family: "微软雅黑 Regular";
	color: #FFFFFF;
	line-height: 26px;
}

.foot_menu_right{
	float: right;
}

.foot_menu_right a{
	color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font:bold 16px/38px "微软雅黑";
    margin-right: 62px;
    margin-bottom: 68px;
}

.bottomUl{
	height: 194px;
	overflow: hidden;
}