/******************************顶部栏*******************************/
.wrapper{
	margin:0 auto;
	width:1200px;
}

#header{
	height:52px;
	line-height:52px;
	width:100%;
	background:#f9f9f9;
}

#header .welcome{
	margin-left:40px;
	float: left;
	display: none;
}

#header .wrapper{ 
	font-size: 12px;
	color: #727272;
}

#header .wrapper i{
	margin-right: 8px;	
}

#header .right span:nth-of-type(3) a{
	color:#D7000F;
}
.left{
	float: left;
}

.right{
	float: right;
}

/******************************右侧浮动栏*******************************/
#tool{
	position: fixed;
	right: 40px;
	bottom: 160px;
	border: 1px solid #9a9a9a;
	z-index: 110;
	background: #FFFFFF;
}

#tool div{
	width: 48px;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}

.tool1{
	border-bottom: 1px solid #9a9a9a;
}

.tool2{
	border-bottom: 1px solid #9a9a9a;
}

.tool4{
	border-top:0;
	position: absolute;
    background: white;
    border: 1px solid #9a9a9a;
    left: -1px;
    top: 152px;
  	cursor: pointer;
}

#tool div i {
	color: #575757;
	font-size: 19px;
}

#tool div:hover{
	background: #d7000f;
}

#tool div:hover i{
	color: white;
}

#tool div:hover .redTip{
	display: block;
}


.tool1 .redTip{
	position: absolute;	
	top: 0;	
	left: -157px;
	display: none;
}

.tool2 .redTip{
	position: absolute;	
	top: 51px;	
	left: -157px;
	display: none;
}

.tool3 .redTip{
	position: absolute;	
	top: 102px;	
	left: -157px;
	display: none;
}




/*************************banner*****************************************/
.banner{
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
}

.banner img{
	width: 100%;
}



/******************  list  *******************************/
.list{
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  overflow: hidden;
}

.list-cen{
  width: 1200px;
  height: 330px;
  margin:  0 auto;
  padding: 60px 0;
  box-sizing: border-box;
  /* background: rebeccapurple; */
}

.list-cen-box{
  float: left;
  margin: 0 45px;
  text-align: center;
}

.list-cen-box >p {
  margin-top: 22px;
  font-size: 24px;
  color: #000000;
}

/************************  banyun  ***************************/
.banyun{
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  background-color: #efefef; 
  box-sizing: border-box; 
}

.banyun img{
  margin: 0 auto; 
}

/**************************  mengban  **********************/
.mengban{
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  height: 1300px;
  background-image: url("../img/huodong/mengban.jpg");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}

.mengban-cen{
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  position: relative;
}

.mengban-cen-box{
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.box-head{
  position: relative;
}

.box-head >h3{
  margin-bottom: 10px;
  font-size: 42px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.box-head > p:nth-child(2){
  width: 40px;
  height: 3px;
  background: red;
  position: absolute;
  left: 47%;
  font-size: 22px;
}

.box-head > p:nth-child(3){
  margin-top: 22px;
  margin-bottom: 28px;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.box-bottn >video{
  width: 100%;
}

.show{
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  height: 900px;
  background:#f2f1f2;
  padding: 60px 0;
  box-sizing: border-box;
}

.show-cen{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.show-cen >img{
  display: block;
  float: left;
  box-shadow: 0 0 5px #acaaaa;
}

.show-cen >img:nth-child(2){
  margin: 0 8px;
}


/************  zhanshi  ********************/
.zhanshi{
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

.zhanshi-cen{
  width: 1200px;
  margin: 0 auto;
}

.zhanshi-cen > img{
  display: block;
  width: 770px;
  margin: 0 auto;
}





/**************************  fenge  *************************/
.fenge{
  margin-top: 40px;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

.fenge > img{
  width: 100%;
  height: 100%;
}





/***********************  canshu  *************************/
.canshu{
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

.canshu-cen{
  width: 1200px;
  margin: 0 auto;
}

.canshu-cen > a{
  display: block;
  margin: 0 auto;
  width: 204px;
}

/********************************  jilishiyong  **************************/
.jilishiyong{
  max-width: 1920px;
  min-width: 1200px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url("../img/huodong/lijishiyong.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lijishiyong-cen{
  width: 1200px;
  margin-left: 30%;
  margin: 0 auto;
  overflow: hidden;

}

.shiyong-left{
  float: left;
  margin-left: 45px;
  width: 472px;
  height: 586px;
  position: relative;
  overflow: hidden;
}

.shiyong-right{
  float: right;
  width: 587px;
  height: 547px;
  margin-right: 58px;
}


.shiyong-text{
  position: absolute;
  bottom: 87px;
  left: 174px;
  width: 165px;
  height: 54px;
  border-radius: 35px;
  box-shadow: 0 0 10px #8a2627;
  background: #ffead1;
  color: red;
  text-align: center;
  line-height: 54px;
}




/*************************表单*****************************************/
.c1:after{
	content:"*";
	color:red;
	display: inline-block;
	width: 10px;
}

#form{ 
	margin-top: 85px;
}

#form .wrapper form{
	padding-top: 85px;
	padding-left:40px;
}

#form h2{
	font-family: "微软雅黑";
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin: 71px 0 60px;
}

#form laber{
	font-family: "微软雅黑";
	font-size: 24px;	
}

#form span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 54px;
}

input{
	border: solid 1px #b4b4b4;
	border-radius: 5px;
	line-height: 50px;
	width: 408px;
	height: 50px;
	margin-bottom: 42px;
	font-size: 18px;
	outline: none;
	padding-left: 10px;
}

.name{
	margin-right: 100px;
}

.place{
	margin-right: 100px;
}

textarea{
	font-size: 18px;
	border-radius: 5px;
	min-height: 220px;
	width:985px;
	vertical-align: top;
	margin-bottom: 28px;
	resize:vertical;
	border: solid 1px #b4b4b4;
	outline: none;
	padding-left: 10px;
	color: #000000;
}

#formSubmit{
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 61px;
	border-radius: 5px;
	width: 193px;
	height: 61px;
	background: #d7000f;
	border: none;
	outline: none;
	cursor: pointer;
}

#form .form_bot .tips{
	color: #D7000F;
	font-size: 18px;
    margin: 0;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 0;
    /*overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;*/
}

.form_bot{
	margin-left: 58px;
	position:relative;
}

.form_bot img{
	position: absolute;
	left: 751px;
	top: 19px;
}



/************************footer栏***************************************/
#footer{
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
	height: 380px;
	background: #333333;
}

.foot_l{
	margin-top: 61px;
	width: 288px;
	float: left;
}

.logo2{
	width: 120px;
	height: 50px;
	margin-bottom: 34px;
}

.logo2 img{
	width: 100%;
	height: 100%;
}



.foot_l_text span{	
	font-weight: bold;
	color: #FFFFFF;
	font-family: "微软雅黑";
	display: block;
}

.foot_l_text span:nth-of-type(1){
	font-size:12px;
	margin-bottom:4px;
}

.foot_l_text span:nth-of-type(2){
	font-size:17px;
}

.QRcode{ 
	width: 88px;
}

.QRcode img{ 
	margin:0 auto; 
	width: 80px;
	height: 80px;
}

.QRcode p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.imow{ 
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.imow img{ 
	margin:0 auto; 
	width: 122px; 
	height: 80px;
}

.imow p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.foot_r{
	float: left;
}


.foot_menu { 
    /*float: right; */ 
    margin-top: 50px;
    width: 881px;
    height: 240px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    display:flex; 
}

.whiteLine{
	width: 34px;
	height: 2px;
	background: #FFFFFF;
}

/* 设置ul和li的样式 */
.foot_menu ul{
    list-style: none;  
} 

.foot_menu ul li{
	float: left;
	position: relative;
	margin-right:118px ;
}

/* 一级菜单 */
.foot_menu > ul > li > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font:bold 16px/38px "微软雅黑";
}

/* 二级菜单*/
.foot_menu > ul > li > ul {
	position: absolute;
	left: -8px;
    top: 46px;
    width: 110px;
}

/* 设置二级菜单的li的样式 */
.foot_menu > ul > li > ul > li {
    float: none;
    padding:0 10px;
}
 
.foot_menu > ul > li > ul > li > a {
    width: 105px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    border-top: none;
    display: block;
    font-size: 12px;
}

.foot_bottom span{
	font-size:12px;
	font-family: "微软雅黑 Regular";
	color: #FFFFFF;
	line-height: 26px;
}

.foot_menu_right{
	float: right;
}

.foot_menu_right a{
	color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font:bold 16px/38px "微软雅黑";
    margin-right: 62px;
    margin-bottom: 68px;
}

.bottomUl{
	height: 194px;
	overflow: hidden;
}
