/******************************顶部栏*******************************/
.wrap{
	margin:0 auto;
	width:1280px;
}

.wrapper{
	margin:0 auto;
	width:1200px;
}

#header{
	height:52px;
	line-height:52px;
	width:100%;
	background:#f9f9f9;
}

#header .welcome{
	margin-left:40px;
	float: left;
	display: none;
}

#header .wrapper{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #727272;
}

#header .wrapper i{
	margin-right: 8px;	
}

#header .right span:nth-of-type(3) a{
	color:#D7000F;
}
.left{
	float: left;
}

.right{
	float: right;
}

/******************************右侧浮动栏*******************************/
#tool{
	position: fixed;
	right: 40px;
	bottom: 160px;
	border: 1px solid #9a9a9a;
	z-index: 110;
	background: #FFFFFF;
}

#tool div{
	width: 48px;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}

.tool1{
	border-bottom: 1px solid #9a9a9a;
}

.tool2{
	border-bottom: 1px solid #9a9a9a;
}

.tool4{
	border-top:0;
	position: absolute;
    background: white;
    border: 1px solid #9a9a9a;
    left: -1px;
    top: 152px;
  	cursor: pointer;
}

#tool div i {
	color: #575757;
	font-size: 19px;
}

#tool div:hover{
	background: #d7000f;
}

#tool div:hover i{
	color: white;
}

#tool div:hover .redTip{
	display: block;
}

#back-to-top{
	display: none;
}

.tool1 .redTip{
	position: absolute;	
	top: 0;	
	left: -157px;
	display: none;
}

.tool2 .redTip{
	position: absolute;	
	top: 51px;	
	left: -157px;
	display: none;
}

.tool3 .redTip{
	position: absolute;	
	top: 102px;	
	left: -157px;
	display: none;
}

/******************************产品工具栏*******************************/


/*************************登陆窗口***************************************/
#bg{
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.login{
	width: 582px;
	height: 424px;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 1000;
	position:absolute;
    left:50%; 
    top:50%;
	margin-top: -212px;
	margin-left: -291px;
}

.close{
	width: 25px;
	height: 25px;
	position:absolute;
    left: 592px; 
    top: 0;
    background-image: url(../img/close.png);
    cursor: pointer;
}

.login h2{
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0px;
	color: #000000;
	text-align: center;
	margin-top: 40px;
}

.login p{
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0px;
	color: #000000;
	text-align: center;
	margin-bottom: 30px;
}

.login .inputBox{
	width: 373px;
	height: 46px;
	background-color: #ffffff;
	border-radius: 5px;
	border: solid 1px #b4b4b4;
	margin: 0 auto;	
	color: #8c8c8c;
}

.login .inputBox i{
	margin: 9px 23px 0 15px;
	font-size: 24px;
	display: inline-block;
}

.login .inputBox input{
	height: 36px;
    width: 306px;
    outline: none;
    border: 0;
    line-height: 36px;    
    margin-top: 5px;
    font-size: 16px;
}

.login .inputBox:nth-of-type(2){
	margin-top: 15px;
}

.login .error{
	margin: 9px auto;
	width: 373px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0px;
	color: #d7000f;
	text-align: right;
}

.login button{
	border:0px;
	width: 373px;
	height: 45px;
	background-color: #d7000f;
	border-radius: 5px;
	outline: none;
	color: #FFFFFF;
	font-size: 24px;
	display: block;
	margin: 10px auto;
	cursor: pointer;
}

/*************************aboutProduct*****************************************/
#aboutProduct{
	padding: 70px 0 90px;	
}

.pc-slide {
	width: 500px;
}

.view .swiper-container {
	width: 500px;
	height: 500px;
	border: 1px solid #cdcdcd;
}

.view .swiper-container img{
	width: 100%;
	height: 100%;	
}

.view .arrow-left {
	background: url(../img/productArrowL.png) no-repeat left top;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -25px;
	width: 43px;
	height: 51px;
	z-index: 10;
}

.view .arrow-right {
	background: url(../img/productArrowR.png) no-repeat left bottom;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -25px;
	width: 43px;
	height: 51px;
	z-index: 10;
}

.preview {
	width: 100%;
	margin-top: 10px;
	position: relative;
}

.preview .swiper-container {
	width: 500px;
    height: 98px;
/*	margin-left: 35px;*/
}

.preview .swiper-slide {
	width: 110px;
	cursor:pointer;
}

.preview .swiper-slide img{
	width: 90px;
	height: 90px;
}

.preview .slide6 {
	width: 148px;
}

/*.preview .arrow-left {
	background: url(../img/feel3.png) no-repeat left top;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
}

.preview .arrow-right {
	background: url(../img/feel4.png) no-repeat left bottom;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
}*/

.preview img {
	border: 1px solid #cdcdcd;
}

.preview .active-nav img {
	padding: 0;
	border: 2px solid #D7000F;
}

.detail{
	margin-left: 70px;
	width: 600px;
	height: 500px;
	position: relative;
}


.detail .detailTitle img{
	float: left;
}

.detail .detailTitle .name{
	margin-left: 12px;
}

.detail .detailTitle .name h2{ 
	font-size: 24px;
	letter-spacing: 0px;
	color: #000000;
}

.detail .detailTitle .name p{
	margin-top: 9px; 
	font-size: 18px;
	letter-spacing: 0px;
	color: #2b2b2b;
}

.detailContent{
	padding: 87px 0 0 49px;
}

.detailContent .top{
	font-weight: bold;
	font-size: 18px;
	color: #2b2b2b;
}

.detailContent .top span{
	display: inline-block;
	width: 5px;
	height: 18px;
	background-color: #d7000d;
	vertical-align: middle;
	margin-right: 6px;	
}

.detailContent .salePointUl{
	margin-top: 24px;
}

.detailContent .salePointUl>li{
	/*width: 308px;*/
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #2b2b2b;
} 

.detailContent .salePointUl>li span{
	width: 5px;
	height: 5px;
	background-color: #d7000d;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}

.getPrice{
	width: 149px;
	height: 48px;
	background-color: #d7000d;
	border-radius: 5px;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	bottom: 0;
}


/*************************topBar*****************************************/
.topBar{
	height: 55px;
	width: 100%;
    background: white;
    border: solid 1px #cdcdcd;
    box-shadow:0px 5px 5px #CCCCCC;    
}

.topBar ul li{
	float: left;
	width: 24%;
	height: 53px;	
	border-right: 1px solid #f0f0f0;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 53px;
	text-align: center;
	cursor: pointer;
}

.topBar ul li:last-of-type{
	border-right: none;
}

.topBar ul li:hover{
	color: #d7000f;
	border-bottom: 2px solid #d7000f;
}

.fixTop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.newTop{
	margin-top: 55px;
}

.on{
	color: #d7000f;
	border-bottom: 2px solid #d7000f;
}
 
/************************main内容***************************************/
.title{
	height:30px;
	text-align: center;
}

.title .blackLine{
	margin-bottom: 9px;
	display: inline-block;
	width: 149px;
	height: 2px;
	background-color: #000000;
	line-height: 30px;
}

.title span{
	margin-left: 28px;
	margin-right: 23px;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 0px;
	color: #000000;
}

#introduction{
	padding-top: 106px;
} 

#introduction .title{
	margin-bottom: 59px ;
}

#introduction .wrapper img{
	margin: 0 auto;
}

.overallView{
	width: 100%;
	height: 600px;
	background-color: #f6f6f6;
	margin-top: 95px;
	padding: 86px 0 63px;
}

.overallView #target{
	margin-top: 68px;
}

.overallView p{
	text-align: center;
}

#standardData{
	padding-top: 99px;
}
 
#standardData .title{
	margin-bottom: 40px;
} 

@media screen and (max-width: 1920px) {
	.tableBox{
		height: 600px;
	}
}
@media screen and (max-width: 1440px) {
	.tableBox{
		height: 550px;
	}
}  
@media screen and (max-width: 1366px) {
 	.tableBox{
		height: 500px;
	}
}  

#otherData{
	padding-top: 100px;
}

/**********表格**********/ 
.addCompare{
	display: block;
	width: 73px;
	height: 20px;
	line-height: 20px;
	background-color: #d7000d;
	border-radius: 5px;
	color: white;
	margin: 0 auto;
}

table {
    border-collapse:collapse;
    border:none;
}

td{
	text-align: center;
	vertical-align: middle;
	height: 32px;
    border:solid #818181 1px;
}
 
.tdTitle{
	border:0;
	padding: 30px 0 10px;
	vertical-align: middle;
	cursor: pointer;
	width: 250px;
} 

.suo{
	width: 16px;
	height: 20px;
	display: inline-block;
	background: url(../img/suo.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
} 
 
#otherData .title{
	margin-bottom: 122px;
} 
 
#otherData .otherDataImg img{
	margin: 0 auto;
}
 
#example {
	padding-top:109px;
} 
 
#example .title{
	margin-bottom: 101px;
} 

#example .download{
	text-align: center;
}

#example .download a{
	text-decoration: underline;
	font-size: 18px;
	color: #D7000F;
}

#example .download a:hover{
	color: darkslateblue;
} 

#example .download2{
	text-align: center;
}

#example .download2 a{
	text-decoration: underline;
	font-size: 18px;
	color: #D7000F;
}

#example .download2 a:hover{
	color: darkslateblue;
} 

#example img{
	margin: 10px auto;
}

#video{
	padding-top: 100px;
	padding-bottom: 50px;
}

#video .title{
	margin-bottom: 65px;
}
 
#video h2{
	text-align: center;
	font-size: 24px;
	line-height: 56px;
	letter-spacing: 0px;
	color: #000000;
}

#video video{
	margin-left:154px;
	width: 893px;
	height: 410px;
	margin-bottom: 30px;
}  

/*************************表单*****************************************/
.c1:after{
	content:"*";
	color:red;
	display: inline-block;
	width: 10px;
}

#form .wrapper form{
	border-top: 1px solid #D6D6D6;
	padding-left:165px;
	padding-top: 90px;
}

#form laber{
	font-family: "微软雅黑";
	font-size: 24px;	
}

#form span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 54px;
}

#form input{
	border-radius: 5px;
	margin-bottom: 42px;
	font-size: 18px;
	outline: none;
	width: 333px;
	height: 42px;
	background-color: #ffffff;
	border-radius: 5px;
	border: solid 1px #b4b4b4;
}

#form .name{
	margin-right: 36px;
}

#form .area{
	margin-right: 36px;
}

#form .phone{
	width: 383px;
}

#form .mail{
	width: 383px;
}

textarea{
	font-size: 18px;
	border-radius: 5px;
	min-height: 220px;
	width:818px;
	vertical-align:top;
	margin-bottom: 28px;
	resize:vertical;
	border: solid 1px #b4b4b4;
	outline: none;
}

#form #formSubmit{
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 61px;
	border-radius: 5px;
	width: 193px;
	height: 61px;
	background: #d7000f;
	border: none;
	outline: none;
	cursor: pointer;
}

#form .form_bot .tips{
	color: #D7000F;
	font-size: 18px;
    margin: 0;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 0;
    /*overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;*/
}

.form_bot{
	margin-left: 58px;
	position:relative;
}

.form_bot img{
	position: absolute;
	left: 576px;
	top: 19px;
}

/************************footer栏***************************************/
#footer{
	width: 100%;
	height: 380px;
	background: #333333;
}

.foot_l{
	margin-top: 61px;
	width: 288px;
	float: left;
}

.logo2{
	width: 120px;
	height: 50px;
	margin-bottom: 34px;
}

.logo2 img{
	width: 100%;
	height: 100%;
}



.foot_l_text span{	
	font-weight: bold;
	color: #FFFFFF;
	font-family: "微软雅黑";
	display: block;
}

.foot_l_text span:nth-of-type(1){
	font-size:12px;
	margin-bottom:4px;
}

.foot_l_text span:nth-of-type(2){
	font-size:17px;
}

.QRcode{ 
	width: 88px;
}

.QRcode img{ 
	margin:0 auto; 
	width: 80px;
	height: 80px;
}

.QRcode p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.imow{ 
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.imow img{ 
	margin:0 auto; 
	width: 122px; 
	height: 80px;
}

.imow p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.foot_r{
	float: left;
}


.foot_menu { 
    /*float: right; */ 
    margin-top: 50px;
    width: 881px;
    height: 240px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    display:flex; 
}

.whiteLine{
	width: 34px;
	height: 2px;
	background: #FFFFFF;
}

/* 设置ul和li的样式 */
.foot_menu ul{
    list-style: none;  
} 

.foot_menu ul li{
	float: left;
	position: relative;
	margin-right:118px ;
}

/* 一级菜单 */
.foot_menu > ul > li > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font:bold 16px/38px "微软雅黑";
}

/* 二级菜单*/
.foot_menu > ul > li > ul {
	position: absolute;
	left: -8px;
    top: 46px;
    width: 110px;
}

/* 设置二级菜单的li的样式 */
.foot_menu > ul > li > ul > li {
    float: none;
    padding:0 10px;
}
 
.foot_menu > ul > li > ul > li > a {
    width: 105px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    border-top: none;
    display: block;
    font-size: 12px;
}

.foot_bottom span{
	font-size:12px;
	font-family: "微软雅黑 Regular";
	color: #FFFFFF;
	line-height: 26px;
}

.foot_menu_right{
	float: right;
}

.foot_menu_right a{
	color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font:bold 16px/38px "微软雅黑";
    margin-right: 62px;
    margin-bottom: 68px;
}

.bottomUl{
	height: 194px;
	overflow: hidden;
}