/******************************顶部栏*******************************/
.wrap{
	margin:0 auto;
	width:1280px;
}

.wrapper{
	margin:0 auto;
	width:1200px;
}

#header{
	height:52px;
	line-height:52px;
	width:100%;
	background:#f9f9f9;
}

#header .welcome{
	margin-left:40px;
	float: left;
	display: none;
}

#header .wrapper{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #727272;
}

#header .wrapper i{
	margin-right: 8px;	
}

#header .right span:nth-of-type(3) a{
	color:#D7000F;
}
.left{
	float: left;
}

.right{
	float: right;
}

/******************************右侧浮动栏*******************************/
#tool{
	position: fixed;
	right: 40px;
	bottom: 160px;
	border: 1px solid #9a9a9a;
	z-index: 110;
	background: #FFFFFF;
}

#tool div{
	width: 48px;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}

.tool1{
	border-bottom: 1px solid #9a9a9a;
}

.tool2{
	border-bottom: 1px solid #9a9a9a;
}

.tool4{
	border-top:0;
	position: absolute;
    background: white;
    border: 1px solid #9a9a9a;
    left: -1px;
    top: 152px;
  	cursor: pointer;
}

#tool div i {
	color: #575757;
	font-size: 19px;
}

#tool div:hover{
	background: #d7000f;
}

#tool div:hover i{
	color: white;
}

#tool div:hover .redTip{
	display: block;
}

#back-to-top{
	display: none;
}

.tool1 .redTip{
	position: absolute;	
	top: 0;	
	left: -157px;
	display: none;
}

.tool2 .redTip{
	position: absolute;	
	top: 51px;	
	left: -157px;
	display: none;
}

.tool3 .redTip{
	position: absolute;	
	top: 102px;	
	left: -157px;
	display: none;
}


/*************************banner*************************************/
#banner{
	min-width: 1200px;
	max-width: 1920px;
	margin:0 auto; 
}
 
#banner img{
	width: 100%;
	display: block;	
}

/*************************app*************************************/
#app{
	width: 100%;
	min-width: 1200px;
	height: 640px;
	background: url(../img/serviceApp.png) no-repeat top center;
	background-size: cover;
	position: relative;
}

.appPic{
	position: absolute;
	bottom: 76px;
	right: 28%;	
}

.PicTop img{
	float: left;
}

.PicTop img:nth-of-type(1){
	margin-top: 8px;
    margin-right: 10px;
}


/*************************tab*****************************************/
/* 设置ul和li的样式 */
.item{
	background-color: #e9e9e9;
	padding-bottom: 57px;
}

.item ul{
	width: 1200px;
	padding: 132px 0 101px;
} 

.item li {
    list-style: none;
    float: left;
} 

.item ul li{
	margin-left:105px;
	margin-right:26px;
}

.item ul li p{
	color: black;
	margin-top: 29px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 24px;
}

.item .img{
	width: 148px;
	height: 148px;
	border: 2px solid #484747;
	border-radius: 50%;
}

.item ul li:nth-of-type(1) .img{
	background: url(../img/serviceItem11.png) no-repeat center center;
}

.item ul li:nth-of-type(2) .img{
	background: url(../img/serviceItem22.png) no-repeat center center;
}

.item ul li:nth-of-type(3) .img{
	background: url(../img/serviceItem33.png) no-repeat center center;
}

.item ul li:nth-of-type(4) .img{
	background: url(../img/serviceItem44.png) no-repeat center center;
}

.item ul li:nth-of-type(1):hover .img{
	border: 2px solid #D7000F;
	background: url(../img/serviceItem11-1.png) no-repeat center center;
}
.item ul li:hover p{
	color: #D7000F;
}

.item ul li:nth-of-type(2):hover .img{
	border: 2px solid #D7000F;
	background: url(../img/serviceItem22-2.png) no-repeat center center;
}

.item ul li:nth-of-type(3):hover .img{
	border: 2px solid #D7000F;
	background: url(../img/serviceItem33-3.png) no-repeat center center;
}

.item ul li:nth-of-type(4):hover .img{
	border: 2px solid #D7000F;
	background: url(../img/serviceItem44-4.png) no-repeat center center;
}

.item ul li .img img{
	opacity: 0;
}

.item ul li:hover .img img{
	opacity: 1;
	transition: all .5s; 
}

.item img{
	display: block;
	margin: 0 auto;
}

/*************************表单*****************************************/

form{
	padding-left: 200px;
}
 
#formBox h2{
	font-family: "微软雅黑";
	font-size: 30px;
	text-align: center;
	margin: 86px 0 40px;
} 
 
#formBox label{
	display: inline-block;
	width: 113px;
	text-align: right;
	font-size: 20px;
	font-family: "微软雅黑";	
}

.inputBox{
	display: inline-block;
	width: 584px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	line-height: 40px;
	margin-bottom: 24px;
}

.inputBox input{
	width: 580px;
	height: 38px;
	border: 0;	
	outline: none;
	font-size: 16px;
	font-family: "微软雅黑";	
}


 
#formBox textarea{
	font-size: 16px;
	border-radius: 3px;
	min-height: 220px;
	width:580px;
	vertical-align:top;
	margin-bottom: 28px;
	resize:vertical;
	outline: none;
	font-size: 18px;
	font-family: "微软雅黑";	
}

#formSubmit{
	width: 141px;
	height: 41px;
	background-color: #d7000f;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 559px;  
	border: 0;  
}

.form-bot{
	width: 700px;
	margin-bottom: 140px;
}

#formBox form p{
	margin-top: 14px;
	font-size: 12px;
	font-family: "微软雅黑";	
	color: #c7c7c7;
	text-align: right;
} 
 
/************************footer栏***************************************/
#footer{
	width: 100%;
	height: 380px;
	background: #333333;
}

.foot_l{
	margin-top: 61px;
	width: 288px;
	float: left;
}

.logo2{
	width: 120px;
	height: 50px;
	margin-bottom: 34px;
}

.logo2 img{
	width: 100%;
	height: 100%;
}



.foot_l_text span{	
	font-weight: bold;
	color: #FFFFFF;
	font-family: "微软雅黑";
	display: block;
}

.foot_l_text span:nth-of-type(1){
	font-size:12px;
	margin-bottom:4px;
}

.foot_l_text span:nth-of-type(2){
	font-size:17px;
}

.QRcode{ 
	width: 88px;
}

.QRcode img{ 
	margin:0 auto; 
	width: 80px;
	height: 80px;
}

.QRcode p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.imow{ 
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.imow img{ 
	margin:0 auto; 
	width: 122px; 
	height: 80px;
}

.imow p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.foot_r{
	float: left;
}


.foot_menu { 
    /*float: right; */ 
    margin-top: 50px;
    width: 881px;
    height: 240px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    display:flex; 
}

.whiteLine{
	width: 34px;
	height: 2px;
	background: #FFFFFF;
}

/* 设置ul和li的样式 */
.foot_menu ul{
    list-style: none;  
} 

.foot_menu ul li{
	float: left;
	position: relative;
	margin-right:118px ;
}

/* 一级菜单 */
.foot_menu > ul > li > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font:bold 16px/38px "微软雅黑";
}

/* 二级菜单*/
.foot_menu > ul > li > ul {
	position: absolute;
	left: -8px;
    top: 46px;
    width: 110px;
}

/* 设置二级菜单的li的样式 */
.foot_menu > ul > li > ul > li {
    float: none;
    padding:0 10px;
}
 
.foot_menu > ul > li > ul > li > a {
    width: 105px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    border-top: none;
    display: block;
    font-size: 12px;
}

.foot_bottom span{
	font-size:12px;
	font-family: "微软雅黑 Regular";
	color: #FFFFFF;
	line-height: 26px;
}

.foot_menu_right{
	float: right;
}

.foot_menu_right a{
	color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font:bold 16px/38px "微软雅黑";
    margin-right: 62px;
    margin-bottom: 68px;
}

.bottomUl{
	height: 194px;
	overflow: hidden;
}