/******************************顶部栏*******************************/
.wrap{
	margin:0 auto;
	width:1280px;
}

.wrapper{
	margin:0 auto;
	width:1200px;
}

#header{
	height:52px;
	line-height:52px;
	width:100%;
	background:#f9f9f9;
}

#header .welcome{
	margin-left:40px;
	float: left;
	display: none;
}

#header .wrapper{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #727272;
}

#header .wrapper i{
	margin-right: 8px;	
}

#header .right span:nth-of-type(3) a{
	color:#D7000F;
}
.left{
	float: left;
}

.right{
	float: right;
}

/******************************右侧浮动栏*******************************/
#tool{
	position: fixed;
	right: 40px;
	bottom: 160px;
	border: 1px solid #9a9a9a;
	z-index: 110;
	background: #FFFFFF;
}

#tool div{
	width: 48px;
	height: 50px;	
	text-align: center;
	line-height: 50px;
}

.tool1{
	border-bottom: 1px solid #9a9a9a;
}

.tool2{
	border-bottom: 1px solid #9a9a9a;
}

.tool4{
	border-top:0;
	position: absolute;
  background: white;
  border: 1px solid #9a9a9a;
  left: -1px;
  top: 152px;
  cursor: pointer;
}

#tool div i {
	color: #575757;
	font-size: 19px;
}

#tool div:hover{
	background: #d7000f;
}

#tool div:hover i{
	color: white;
}

#tool div:hover .redTip{
	display: block;
}

#back-to-top{
	display: none;
}

.tool1 .redTip{
	position: absolute;	
	top: 0;	
	left: -157px;
	display: none;
}

.tool2 .redTip{
	position: absolute;	
	top: 51px;	
	left: -157px;
	display: none;
}

.tool3 .redTip{
	position: absolute;	
	top: 102px;	
	left: -157px;
	display: none;
}

.banner{
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
}

.banner img{
	width: 100%;
}

/**************************** 锂电搬运车 ******************************************/
.carry{
	width: 100%;
	margin-top: 30px;
}

.titleName{
	font-weight: bold; 
}

.carryBox{
	width: 1200px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}

.carry-head{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-bottom: 49px;
}
.carry-head > p {
	position: absolute;
	top: 30px;
	left: 47.5%;
	width: 60px;
	height: 2px;
	background: #d7000f;
}

.one{
	margin-top: 45px;
}
.carryBoxCen{
	width: 100%;
	height: 415px;
	overflow: hidden;
}

.two,.two2{
	float: left;
	display: none;
	width: 100%;
	height: 415px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}

.carryBoxCenLi{
float: left;
width: 20%;
height: 200px;
text-align: left;
position: relative;
}

.carryBoxCenLiA{
	color: #000000!important;
	
}

.jiesao,.jiesao2{
	position: absolute;
	top: 65px;
	left: 75px;
	z-index: 2;
	width: 80px;
	height: 18px;
	border-radius: 20px;
	background: #D7000F;
	color: #ffffff;
	line-height: 18px;
	font-size: 12px;
	font-family: "微软雅黑";
	text-align: center;
}

.jiesao >p,.jiesao2 >p{
	margin-left: 10px;
	margin-top: -2px;
	width: 5px;
	height: 5px;
	background: #D7000F;
	transform: rotate(45deg);
}
.jiesao2 >p{
	margin-left: 10px;
	margin-top: -21px;
}

.jiesao2{
	width: 120px;
	top: 200px;
	left: 45px;
}

.carryBoxCenLi  p{
	font-size: 12px;
	line-height: 18px;
}
.carryBoxCenImg{
	width: 200px;
	height: 100%;
	margin-left: 28px
}

.carryBoxCenLiDiv{
	margin-left: 26px;
	width: 180px;
}
.carryBoxCenH3{
	margin-top: 30px;
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 18px;
	font-family: "微软雅黑";
}

.xia,.xia2{
	position: absolute;
	bottom: 10px;
	margin-left: 50%;
	width: 24px;
	cursor: pointer;
}

.rotate1{     
	transform:rotate(180deg);
	transition:all .3s;
	-webkit-transform:rotate(180deg);     
	-webkit-transition:all .3s;
}
.rotate{          
	transform: rotate(0);
	transition: all .3s;
	-webkit-transform:rotate(0);
	-webkit-transition:all .3s;
}

.third{
	width: 100%;
	margin-top: 50px; 
}

.third h3{
	font-weight: bold;
}

.thirdBox{
width: 1200px;
height: 620px;
margin: 0 auto;
}

.thirdBoxCen{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.thirdBoxCenOne{
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000000;
}

.thirdBoxCenOne > h3{
	font-size: 18px;
	margin: 20px 0;
}

.thirdBoxCenOnetext{
	font-size: 12px;
  line-height: 18px;
}

.zhongjian{
	margin: 0 45px;
}

.hou{
	margin-left: 45px;
}

.thirdBoxBottom{
display: flex;
justify-content: center;
margin-top: 50px;
font-size: 30px;
position: relative;
}

.thirdBoxBottom p{
	margin-right: 5px;
	color: #000000;
}

.thirdBoxBottom img{
	position: absolute;
	top: 0;
	left: 66%;
}

/*************************** advantage *******************************/
.advantage-head{
width: 100%;
height: 120px;
background: #257433;

}

.advantage-headCen{
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	background: #257433;
	text-align: center;
	line-height: 120px;
	color: #ffffff;
	font-size: 45px;
}

.advantage-headCen span{
	font-weight: bold;
	font-size: 45px;
}

.advantage{
	width: 100%;
	background: #2b2b2b;
}

.advantageCent{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.advantageCent img{
	width: 100%;
	height: 400px;
}

.advantageCent p{
	position: absolute;
	top: 155px;
	right: 225px;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
}

.advantage-second,.advantage-fouth,.advantage-sixth,.advantage-sever,.advantage-last,.advantage-last{
width: 100%;
overflow: hidden;
}

.advantage-secondCen,.advantage-fouthCen,.advantage-sixthCen,.advantage-severCen,.advantage-lastCen{
width: 1200px;
margin: 0 auto;
/* .advantage-fifthCen, .advantage-fifth,  .advantage-third, .advantage-thirdCen,*/
}

.advantage-secondCen > h3{
	margin: 45px 0;
	text-align: center;
	font-size: 32px;
	color:#257433;
	font-weight: bold;
}

.advantage-secondBottn{
overflow: hidden;
width: 100%;
margin-top: 60px;
}
.advantage-secondBottnBox{
	float: left;
	width: 25%;
}

.advantage-secondBottnBox > img{
	margin: 0 auto;
}
.advantage-secondBottnBox >h3{
	margin: 20px 0;
	color: #257433;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.advantage-secondBottnBox >p{
	width: 225px;
	height: 100px;
	font-size: 16px;
	margin: 0 auto;
	line-height: 20px;
}


.advantage-thirdCen >img,.advantage-fifthCen >img{
	width: 100%;
	height: 100%;
}
.advantage-fouth{
	overflow: hidden;
}

.advantage-fouthCenLeft{
	float: left;
	margin: auto 0;
}


.advantage-fouthCenLeft >h3{
	margin-top: 165px;
	margin-bottom: 60px;
	font-size: 32px;
	color:#257433;
	font-weight: bold;
}

.advantage-fouthCenLeft >p{
	width: 390px;
}

.twoP{
	margin: 30px 0;
}

.advantage-fouthCenRight{
	float: left;
}

.advantage-fouthCenRight img:first-child{
	margin-top: 65px;
	margin-left: 25px;
}

.advantage-fouthCenRight img:last-child{
	margin-top: 30px;
	margin-left: 30px;
}
.advantage-third{
	margin: 0 auto;
}

.advantage-fifth{
	margin: 0 auto;
	margin-top: 40px;
}

.advantage-sixthCen{
	margin-top: 80px;
	margin-bottom: 60px;
	overflow: hidden;
}

.advantage-sixthCenLeft{
	float: left;
	margin-left: 65px
}

.twoBox{
	margin: 40px 0;
}

.advantage-sixthCenLeftBox > h3{
	font-size: 32px;
    color: #257433;
		font-weight: bold;
		margin-bottom: 15px;
}

.advantage-sixthCenLeftBox > p{
	width: 470px;
	line-height: 20px;
}

.advantage-sixthCenRight{
	float: left;
	margin-left: 75px;
}

.advantage-sixthCenRight > img{
	width: 545px;
	height: 450px;
}

.advantage-severCen{
margin-top: 25px;
}

.fisrtTu{
	float: left;
	margin-right: 13px;
	overflow: hidden;
}

.advantage-severCenZhong{
	float: left;
	margin-right: 13px;
	width: 560px;
}
.advantage-severCenZhong img:first-child{
	float: left;
	margin-bottom: 18px;
	overflow: hidden;
}

.advantage-severCenZhong img:nth-child(2){
	float: left;
	margin-right: 15px;
}

.advantage-severCenZhong img:last-child{
	float: left;
}

.advantage-severCenRight{
	float: left;
}

.advantage-severCenRight img:nth-child(2){
margin: 11px 0;
}

.advantage-last{
	margin-bottom: 50px;
}
.advantage-lastCen{
	width: 1200px;
	/* background: skyblue; */
	margin: 0 auto;
	margin-top: 60px;
	box-sizing: border-box;
}

.line{
	margin-left: 50px;
	width: 1050px;
	height: 1px;
	background: #e5e5e5;
	margin-bottom: 60px;
}

.advantage-lastCenTop{
	width: 100%;
	padding: 0 120px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 5px;
}

.box1{
	float: left;
	margin-right: 100px;
	width: 392px;
	height: 60px;
	font-size: 15px;
}

.box1 >input,.box2 > input{
	width: 330px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #e5e5e5;
	outline:none;
}
.box2 {
	float: left;
	width: 392px;
	height: 60px;
	font-size: 15px;

}  

.zhuti,.neirong,.advantage-lastCenBtn{
	float: left;
	margin-left: 120px;
	width: 1000px;
	position: relative;
}

.zhuti >input,.neirong > input{
	width: 815px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #e5e5e5;
	outline:none;
}
.neirong > span{
	position: absolute;
	top:10px;
}
.neirong > input{
	margin-left: 60px;
	height: 180px;
}

.advantage-lastCenBtn{
	margin-top: 20px;
}

.xing{
color: red;
}

.advantage-lastCenBtnLeft{
	float: left;
	margin-left: 60px;
}

.advantage-lastCenBtnLeft > button{
float: left;
margin-bottom: 8px;
width: 160px;
height: 50px;
text-align: center;
line-height: 50px;
background: #d7000f;
color: #ffffff;
border-radius: 8px;
border: none;
font-size: 18px;
}

.advantage-lastCenBtnLeft >p{
font-size: 14px;
}
.advantage-lastCenBtn >p{
	float: right;
		margin-right: 150px;
		font-size: 24px;
		font-family: "Impact Regular";
		color: #999999;
}

/*************************表单*****************************************/
.c1:after{
	content:"*";
	color:red;
	display: inline-block;
	width: 10px;
}

#form{ 
	margin-top: 85px;
}

#form .wrapper form{
	border-top: 1px solid #cccccc;
	padding-top: 85px;
	padding-left:40px;
}

#form h2{
	font-family: "微软雅黑";
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin: 71px 0 60px;
}

#form laber{
	font-family: "微软雅黑";
	font-size: 24px;	
}

#form span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 54px;
}

input{
	border: solid 1px #b4b4b4;
	border-radius: 5px;
	line-height: 50px;
	width: 408px;
	height: 50px;
	margin-bottom: 42px;
	font-size: 18px;
	outline: none;
	padding-left: 10px;
}

.name{
	margin-right: 100px;
}

.place{
	margin-right: 100px;
}

textarea{
	font-size: 18px;
	border-radius: 5px;
	min-height: 220px;
	width:985px;
	vertical-align: top;
	margin-bottom: 28px;
	resize:vertical;
	border: solid 1px #b4b4b4;
	outline: none;
	padding-left: 10px;
	color: #000000;
}

#formSubmit{
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 61px;
	border-radius: 5px;
	width: 193px;
	height: 61px;
	background: #d7000f;
	border: none;
	outline: none;
	cursor: pointer;
}

#form .form_bot .tips{
	color: #D7000F;
	font-size: 18px;
    margin: 0;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 0;
    /*overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;*/
}

.form_bot{
	margin-left: 58px;
	position:relative;
}

.form_bot img{
	position: absolute;
	left: 751px;
	top: 19px;
}

/************************footer栏***************************************/
#footer{
	width: 100%;
	height: 380px;
	background: #333333;
}

.foot_l{
	margin-top: 61px;
	width: 288px;
	float: left;
}

.logo2{
	width: 120px;
	height: 50px;
	margin-bottom: 34px;
}

.logo2 img{
	width: 100%;
	height: 100%;
}



.foot_l_text span{	
	font-weight: bold;
	color: #FFFFFF;
	font-family: "微软雅黑";
	display: block;
}

.foot_l_text span:nth-of-type(1){
	font-size:12px;
	margin-bottom:4px;
}

.foot_l_text span:nth-of-type(2){
	font-size:17px;
}

.QRcode{ 
	width: 88px;
}

.QRcode img{ 
	margin:0 auto; 
	width: 80px;
	height: 80px;
}

.QRcode p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.imow{ 
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.imow img{ 
	margin:0 auto; 
	width: 122px; 
	height: 80px;
}

.imow p{ 
	color: white;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.foot_r{
	float: left;
}


.foot_menu { 
    /*float: right; */ 
    margin-top: 50px;
    width: 881px;
    height: 240px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    display:flex; 
}

.whiteLine{
	width: 34px;
	height: 2px;
	background: #FFFFFF;
}

/* 设置ul和li的样式 */
.foot_menu ul{
    list-style: none;  
} 

.foot_menu ul li{
	float: left;
	position: relative;
	margin-right:118px ;
}

/* 一级菜单 */
.foot_menu > ul > li > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font:bold 16px/38px "微软雅黑";
}

/* 二级菜单*/
.foot_menu > ul > li > ul {
	position: absolute;
	left: -8px;
    top: 46px;
    width: 110px;
}

/* 设置二级菜单的li的样式 */
.foot_menu > ul > li > ul > li {
    float: none;
    padding:0 10px;
}
 
.foot_menu > ul > li > ul > li > a {
    width: 105px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    border-top: none;
    display: block;
    font-size: 12px;
}

.foot_bottom span{
	font-size:12px;
	font-family: "微软雅黑 Regular";
	color: #FFFFFF;
	line-height: 26px;
}

.foot_menu_right{
	float: right;
}

.foot_menu_right a{
	color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font:bold 16px/38px "微软雅黑";
    margin-right: 62px;
    margin-bottom: 68px;
}

.bottomUl{
	height: 194px;
	overflow: hidden;
}
